hw3/xml/schema-5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="country" type="xs:string"></xs:element>
    <xs:element name="city" type="xs:string"></xs:element>
    <xs:element name="streetLine" type="xs:string"></xs:element>
    <xs:element name="postCode" type="xs:string"></xs:element>

    <xs:element name="adress" >
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="country"/>
                <xs:element ref="city" />
                <xs:element ref="streetLine"/>
                <xs:element ref="postCode"/>
            </xs:sequence>     
        </xs:complexType>
    </xs:element>
</xs:schema>